@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

html, body {
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100%;
    margin: 0;
    background-color: hsl(221, 100%, 96%);
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 18px;
    padding: 0 20px;
}


main {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.result, .summary {
    border-radius: 30px;
    padding: 5px 20px;
    
    width: auto;
    height: 50%;
}

.result {
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.summary {
    background-color: hsl(0, 0%, 100%);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Result Components */
.circle {
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 10%, hsla(241, 72%, 46%, 0) 100%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
}

.result-score {
    color: hsl(0, 0%, 100%);
    font-size: 60px;
    margin: 20px 0 0 0;
}

.result-total {
    color: hsl(241, 100%, 89%);
    margin: 0;
}

.result h2 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

.result p {
    color: hsl(221, 100%, 96%);
    padding: 0 20px;
}

.result h1 {
    color: hsl(221, 100%, 96%);
}

/* Summary Components */
.summary h1 {
    text-align: left;
}

button {
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 10px 5px;
    margin: 10px 20px;
}

/* Score Containers */
.score-container {
    border-radius: 5px;
    padding: 10px 5px;
    margin: 0 20px;

    display: flex;
    flex-direction: row;
}

.img {
    flex-grow: 1;
}

.label {
    flex-grow: 10;
}

.score {
    color: hsl(0, 0%, 0%);
    flex-grow: 1;
} 

.total {
    color: hsl(0, 0%, 28%);
    flex-grow: 1;
}

.red {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.yellow {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.green {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.blue {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

@media screen and (min-width: 400px) {
    .content {
        background-color: hsl(0, 0%, 100%);
        border-radius: 30px;
        height: 50%;
        width: 40%;

        display: flex;
        flex-direction: row;

        box-shadow: 10px 10px 29px 3px hsla(221, 100%, 96%,0.59);
    }

    .result, .summary {
        width: 50%;
        height: 100%;
        padding: 5px 20px;
    }
  }