/* Variables */
@font-face {
    font-family: "Poppins-Bold";
    src: url("assets\\fonts\\Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-BoldItalic";
    src: url("assets\\fonts\\Poppins-BoldItalic.ttf");
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url("assets\\fonts\\Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: "Poppins-ExtraBoldItalic";
    src: url("assets\\fonts\\Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "Poppins-Italic";
    src: url("assets\\fonts\\Poppins-Italic.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("assets\\fonts\\Poppins-Regular.ttf");
}

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}


/* Reset Styling */
*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* General Components */
body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 32px;
    background-color: var(--off-white);
}

main {
    width: 100vw;
    height: 100vh;
}

.content {
    height: 60%;
    background-color: var(--white);
    margin: 5rem 1rem;
    padding: 1.5rem;
    border-radius: 20px 20px 100px 20px;
}

/* Inputs */
.date-input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-family: "Poppins-Bold";
    color: var(--smokey-grey);
}

.input-group input[type="text"] {
    font-size: 1rem;
    font-family: "Poppins-Bold";
    width: 100%;
    padding: 0.7em;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

.input-group input[type="submit"] {
    width: 100%;
    height: 0;
}

/* Results */
p {
    font-family: "Poppins-ExtraBoldItalic";
}

p span {
    color: var(--purple);
} 